/* CSS declarations go here */
div .parent { width:100%; }
div .controls { 
  width:20%;
  float:right; 
}

div .board { 
  width:80%;
  float:left; 
}
.cell {
  text-align: center;
  border: 1px solid;
  border-collapse:collapse;
}

.grid {
  width:100%;
  border: 1px solid;
  border-collapse:collapse;
}
